
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>hello projects!</title>
    <style>
      body {
        height: 100vh;
        margin: 0;
        display: flex;
        background: linear-gradient(135deg, #000000, #3E1100);
        align-items: center;
        justify-content: center;
        user-select: none;
      }
      
      .group {
        text-align: center;
      }
      
      .item {
        width: 25vw;
        height: 75vh;
        background-position: center;
        background-size: 100vh;
        margin: 1vw;/* 1% de la largeur de la fenêtre (viewport)*/
        border-radius: 3vw;
        display: inline-block;
        cursor: pointer;
      }
      </style>
  </head>
  <body>
    <div class="group">
      <a href="">
        <div class="item" style="background-image: url(https://cdn.discordapp.com/attachments/1084937735581741116/1149282289772154921/Screenshot_2023-09-07_at_11.48.53_AM.png)"></div>
      </a>
      <a href="">
        <div class="item" style="background-image: url(https://cdn.discordapp.com/attachments/1084937735581741116/1149282342855245865/Screenshot_2023-09-01_at_2.12.20_PM.png)"></div>
      </a>
      <a href="">
        <div class="item" style="background-image: url(https://cdn.discordapp.com/attachments/1084937735581741116/1149282467577081936/Screenshot_2023-09-07_at_11.50.51_AM.png)"></div>
      </a>
    </div>
  </body>
</html>